body {
    margin: 0;
    background-image: url("../images/light_wool.png");
}

header {
    background-color: white;
    position: static
}

#name {
    background-color: aquamarine;
    float: left;
}

header li {
    display: inline-block
}

#headshot {
    float: left;
}

.pagesection {
    background-color: white;
}

.folioblock {
    background-color: aquamarine;
    float: left;
    width: 33.33%;
    padding: 5px;
}

footer {
    background-color: gray;
    position: sticky
}