* {
    box-sizing: border-box;
}
body {
    margin: 0;
    margin-top: 80px;
    background-image: url("../images/light_wool.png");
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

h1 {
    color: #4aaaa5;
}

header {
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    border-bottom: 2px solid #777777;
    display: flex;
    align-items: center;
}

header * {
    display: inline;
}

.wrapper {
    width: 960px;
    margin: auto;
}

#toptext {
    color: white;
    background-color: #4aaaa5;
}

#headshot {
    float: left;
    padding: 10px;
}

.pagesection {
    overflow: auto;
    background-color: #ffffff;
    margin: auto;
    width: 960px;
}

.folioitems {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-content: space-around;
    height: 600px;
    margin: 10px;
}

footer {
    background-color: #666666;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10%;
    border-top: 8px solid #4aaaa5;
}