* {
    box-sizing: border-box;
}
body {
    margin: 0;
    background-image: url("../images/light_wool.png");
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

header {
    background-color: #ffffff;
    position: static;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

#navbar {
    width: 960px;
}

#name {
    background-color: #4aaaa5;
    color: white;
    position: absolute;
    left: 0;
}

header li {
    display: inline;
}

#links {
    position: absolute;
    right: 0;
}

#headshot {
    float: left;
}

.pagesection {
    background-color: #ffffff;
    margin: auto;
    width: 960px;
}

.folioblock {
    background-color: #4aaaa5;
    float: left;
    width: 33.33%;
    padding: 5px;
}

footer {
    background-color: #666666;
    text-align: center;
    position: sticky;
    border-top: 8px solid #4aaaa5;
}